@import "flexible";
@import "function";
$font-family-default: "Helvetica Neue", Helvetica, sans-serif, STHeiTi, webfont, FontAwesome;
$font-size-default: Rem(0.85*40);
$font-weight: 500;
$font-weight-light: 400;
$line-height-default: Rem(1.05*40);
