$in:5s;
$out:5s;
.bounce-transition {
    //display: inline-block;
}
.bounce-enter {
    animation: bounce-in $in;
}
.bounce-leave {
    animation: bounce-out $out;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
.bounce-center-transition{
    .center{
        //@extend .bounce-transition
        color: red;
    }
}
.bounce-center-enter{
    .center{
        @extend .bounce-enter
    }
}
.bounce-center-leave{
    .center{
        @extend .bounce-leave
    }
}
